[include mainsail.cfg]

# Note! I burned through the default X-Stepper driver socket...
# So I'm using the stepper socket for the optional second Z-stepper driver.
[stepper_x]
step_pin: PA6 # PE3
dir_pin: !PA1 # !PE2
enable_pin: !PA3 # !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: !PA15
position_endstop: 0
position_max: 250
homing_speed: 50

# [tmc2208 stepper_x]
# uart_pin: PA10
# run_current: 0.800
# hold_current: 0.500

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: !PA12
position_endstop: 0
position_max: 250
homing_speed: 50

# [tmc2208 stepper_y]
# uart_pin: PA9
# run_current: 0.800
# hold_current: 0.500

[stepper_z]
step_pin: PB5
dir_pin: !PB4 # Original value: PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 8
endstop_pin: !PA11
position_endstop: 0.5
position_max: 280

# Marlin config
#define E0_ENABLE_PIN                       PB3
#define E0_STEP_PIN                         PD6
#define E0_DIR_PIN                          PD3
#define E1_ENABLE_PIN                       PA3
#define E1_STEP_PIN                         PA6
#define E1_DIR_PIN                          PA1

[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 34.000
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
control: pid
pid_Kp: 14.669 # Manufacturer Marlin value: DEFAULT_Kp 28.72
pid_Ki: 0.572 # Manufacturer Marlin value: DEFAULT_Ki 3.94
pid_Kd: 94.068 # Manufacturer Marlin value: DEFAULT_Kd 52.38
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 325.10 # Manufacturer Marlin value: DEFAULT_bedKp 42.27
pid_Ki: 63.35 # Manufacturer Marlin value: DEFAULT_bedKi 7.53
pid_Kd: 417.10 # Manufacturer Marlin value: DEFAULT_bedKd 158.14
min_temp: 8
max_temp: 70

[fan]
pin: PB1

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 60
max_accel: 500
max_z_velocity: 25
max_z_accel: 75

[filament_switch_sensor runout_sensor]
switch_pin: !PA4

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor host_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 100
